﻿.sub_banner .con .txt {padding-bottom: 224px; color: #181B20;}
.sub_banner .con .txt .h2 {font-size: SourceHanSansSC-Medium;}
.sub_banner .con .txt .p {font-size: PingFang-SC-Medium;}

/* 关于我们 - 布局 */
.aboutus_layout .con .content {padding: 400px 0 150px 0; position: relative;}
.aboutus_layout .con .content .con_lay {display: inline-block;}
.aboutus_layout .con .content .con_lay .title_info {padding: 60px 80px 60px 80px; width: 352px;}
.aboutus_layout .con .content .con_lay .title_info .line-style {width:40px; height:3px; margin: 20px 0 40px 0;}
.aboutus_layout .con .content .con_lay .item {height: 50px;}
.aboutus_layout .con .content .patent .item {background:linear-gradient(90deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);}
.aboutus_layout .con .content .patent .title_info {background: #ffffff;}
.aboutus_layout .con .content .patent .title_info .line-style {background:rgba(40,99,211,1);}
.aboutus_layout .con .content .company .title_info {padding: 60px 80px 60px 80px; width: 500px; background: #03124C;}
.aboutus_layout .con .content .company {position: absolute; top: 100px; left: 460px;}
.aboutus_layout .con .content .company .item {background:linear-gradient(90deg,rgba(0,54,170,0.49) 0%,rgba(1,27,122,0) 100%);}
.aboutus_layout .con .content .company .title_info .line-style {background:#FFFFFF;}
.aboutus_layout .con .content .company .title_info p, .aboutus_layout .con .content .company .title_info h2 {color: #FFFFFF;}

/* 关于我们 - 企业文化 */
.aboutus_culture {margin: 0 auto;} 
.aboutus_culture .con {margin: 100px 0 158px 153px; position: relative; width: 1460px;}
.aboutus_culture .con .left_con {position: absolute; top: 0; bottom: 0; z-index: 4;}    
.aboutus_culture .con .left_con .title_info {padding: 160px 124px 178px 70px;}       
.aboutus_culture .con .left_con .title_info img {width: 160px;}
.aboutus_culture .con .left_con .title_info h2 {font-size: 40px; color: #FFFFFF; line-height: 60px; margin-top: 360px;}
.aboutus_culture .con .right_con {padding-top: 70px; margin-left: 300px;}
.aboutus_culture .con .right_con>h2 {display: none; padding: 0 10px 16px 20px; font-size:28px; font-family:SourceHanSansSC-Medium; font-weight:500; color: #181B20; line-height:41px;}
.aboutus_culture .con .right_con>div {margin: 10px 0 0 10px; width: 100%; height: 160px; background: #FBFCFD; position: relative; display: inline-block;}
.aboutus_culture .con .right_con>div h2 {font-size:28px; font-weight:500; color:rgba(21,85,207,1); line-height:41px;} 
.aboutus_culture .con .right_con>div p {margin-top: 20px; font-size:16px; font-weight:400; color:rgba(108,116,131,1); line-height:32px;} 
.aboutus_culture .con .right_con>div .title {position: absolute; top: 36px; left: 130px; z-index: 4;}
.aboutus_culture .con .right_con>div img {position: absolute; right: 0; bottom: 0;} 
.aboutus_culture .con .right_con>div .line {position: absolute; bottom: 28px; left: 50px; width: 80px; height: 2px; background: #2863D3; transform: rotate(45deg); z-index: 3;}


/* 关于我们 - 团队背景 */
.aboutus_team .con {position: relative; margin: 100px 0;}
.aboutus_team .con .title_con {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width:300px; border-radius: 50%; background:rgba(40,99,211,1); box-shadow:0px 32px 104px 0px rgba(3,35,97,0.1);}
.aboutus_team .con .title_con h2 {font-size:40px; font-weight:400; color:rgba(255,255,255,1); line-height:300px; text-align: center;}
.aboutus_team .con .block_con {width: 1440px; margin: 0 auto;}
.aboutus_team .con .block_con .max_none {display: none;}
.aboutus_team .con .block_con .list_con {background: #ccc; width: 800px; float: left;}
.aboutus_team .con .block_con .list_con img {width: 100%;}
.aboutus_team .con .block_con .list_con:first-child {width: 600px; background:rgba(255,255,255,1); box-shadow:0px 0px 40px 0px rgba(3,35,97,0.08); margin: 30px 0 0 40px;}
.aboutus_team .con .block_con .list_con:last-child {width: 600px; background:rgba(255,255,255,1); box-shadow:0px 0px 40px 0px rgba(3,35,97,0.08);}
.aboutus_team .con .block_con .list_con .title_info {padding: 100px; height: 470px; box-sizing: border-box; overflow: hidden;}
.aboutus_team .con .block_con .list_con .title_info h2 {margin: 0; margin-bottom: 10px; font-size:28px; font-weight:500; color:rgba(40,99,211,1); line-height:41px;}
.aboutus_team .con .block_con .list_con .title_info p {font-size:16px; font-weight:400; color:rgba(108,116,131,1); line-height:32px;}

/* 关于我们 - 企业文化 */
/* .aboutus_history {margin: 0 20px;} */
.aboutus_history .title_info {text-align: center; margin: 0px auto 50px;}
.aboutus_history .title_info h2 {font-size:40px; font-weight:400; color:rgba(24,27,32,1); line-height:59px;}
.aboutus_history .title_info .line-style {display: inline-block; width:40px; height:3px; background:rgba(40,99,211,1); text-align: center;}
.aboutus_history .con {margin: 0; overflow-x: auto; position: relative;}
.aboutus_history .con .line {display: none; position: absolute; top: 80px; left: 20px; width: 6px; bottom: 0;  background:linear-gradient(92deg,rgba(40,99,211,1) 0%,rgba(95,5,181,0.68) 48%,rgba(212,29,141,0.12) 100%);}

.aboutus_history .con .content {position: relative; margin: 0 20px; padding-top: 100px; }
.aboutus_history .con .content .list_con {width: 416px; position: relative; margin-left: 100px; padding: 0 0 80px 80px ; display: inline-block; border-left: 1px solid #ADC7F8;}
.aboutus_history .con .content .list_con i {width: 6px; height: 6px; border-radius: 50%; background: #2863D3; position: absolute; top: 0; left: -3px;}
.aboutus_history .con .content .list_con:nth-child(odd) {position: absolute; bottom: 445px; margin-left: 0; height: 20px; z-index: -1;}
.aboutus_history .con .content .list_con:nth-child(odd)>i {top: 100px;}
.aboutus_history .con .content .list_con:nth-child(odd) .top {top: 100px;}
.aboutus_history .con .content .list_con:nth-child(odd) .text_info {padding-top: 100px;}
.aboutus_history .con .content .list_con .top {width: 106px; position: relative; top: -20px; left: -60px;}
.aboutus_history .con .content .list_con .top img {width: 60px; height: 60px; float: right;}
.aboutus_history .con .content .list_con .top h2 {position: absolute; top: 12px; font-size:40px; font-weight:normal; color:rgba(40,99,211,1); line-height:48px; font-family:Helvetica;}
.aboutus_history .con .content .list_con .text_info {position: relative;}
.aboutus_history .con .content .list_con .text_info>span {display: none; position: absolute; left: 6px; top: -10px; width: 30px; height: 2px; background: #ADC7F8;}
.aboutus_history .con .content .list_con .text_info>i {display: none;}
.aboutus_history .con .content .list_con .text_info ul {overflow: hidden; padding-top: 10px;}
.aboutus_history .con .content .list_con .text_info ul li {float: left;}
.aboutus_history .con .content .list_con .text_info ul li:first-child {margin-right: 20px; width: 36px;}
.aboutus_history .con .content .list_con .text_info ul li:last-child {width: 360px;}
.aboutus_history .con .content .list_con .text_info ul li p {margin-top: 8px; text-align: left; font-size:16px; font-weight:400; color:rgba(108,116,131,1); line-height:32px;}
.aboutus_history .con .content .list_con .text_info ul li:first-child p {text-align: right;}
.aboutus_history .con .content .line-style {position: absolute; left: -20px; right: -20px; height: 5px; background:linear-gradient(92deg,rgba(40,99,211,1) 0%,rgba(95,5,181,0.68) 48%,rgba(212,29,141,0.12) 100%);}


@media screen and (max-width: 1640px) {
.sub_banner .con .txt {padding-bottom: 180px;}
.aboutus_culture .con {margin: 100px auto; width: 1100px}
}


@media screen and (max-width: 1480px) {
.sub_banner .con .txt {padding-bottom: 150px;}

.aboutus_team .con .title_con {width: 260px;}
.aboutus_team .con .title_con h2 {font-size:40px; line-height: 260px;}
.aboutus_team .con .block_con {width: 1200px;}
.aboutus_team .con .block_con .list_con {width: 660px;}
.aboutus_team .con .block_con .list_con:first-child {width: 500px; margin: 30px 0 0 40px;}
.aboutus_team .con .block_con .list_con:last-child {width: 500px;}
.aboutus_team .con .block_con .list_con .title_info {padding: 70px; height: 382px;}
}


@media screen and (max-width: 1230px) {
.sub_banner .con .txt {padding-bottom: 100px;}
.aboutus_layout .con .content {padding: 400px 0 150px 0;}
.aboutus_layout .con .content .con_lay .title_info {padding: 60px;}
.aboutus_layout .con .content .company .title_info {padding: 60px;}
.aboutus_layout .con .content .company { top: 100px; left: 356px;}

.aboutus_culture .con {width: 814px;} 

.aboutus_team .con .title_con {width: 160px;}
.aboutus_team .con .title_con h2 {font-size: 24px; line-height: 160px;}
.aboutus_team .con .block_con {width: 870px;}
.aboutus_team .con .block_con .list_con {width: 480px;}
.aboutus_team .con .block_con .list_con:first-child {width: 362px; margin: 30px 0 0 24px;}
.aboutus_team .con .block_con .list_con:last-child {width: 362px;}
.aboutus_team .con .block_con .list_con .title_info {padding: 18px 30px; height: 268px;}
.aboutus_team .con .block_con .list_con .title_info p {font-size:14px; line-height:24px;}

.aboutus_history .title_info {margin: 0px auto 20px;}
.aboutus_history .con .content .block_con .list_con {padding: 50px 40px 40px 40px;}
.aboutus_history .con .content .block_con.even .list_con {padding-top: 40px;}
.aboutus_history .con .content .block_con .list_con .top {left: -16px;}

}


@media screen and (max-width: 1100px) {
.aboutus_layout .con .content {padding: 280px 0 80px 0;}
.aboutus_layout .con .content .con_lay .title_info {padding: 40px 40px 52px 40px;}
.aboutus_layout .con .content .company .title_info {padding: 30px;}
.aboutus_layout .con .content .company { top: 80px; left: 352px;}
}

@media screen and (max-width: 1030px) {
.aboutus_layout .con .content {padding: 250px 0 50px 0;}
.aboutus_layout .con .content .company {top: 50px; left: 250px;}


}

@media screen and (max-width: 900px) {
.sub_banner .con .txt {padding-bottom: 100px;}
.aboutus_layout .con .content {padding: 280px 0 30px 0;}
.aboutus_layout .con .content .con_lay .title_info {padding: 20px 20px 52px 20px;}
.aboutus_layout .con .content .con_lay .title_info .line-style {margin: 10px 0 20px 0;}
.aboutus_layout .con .content .company .title_info {padding: 20px;}
.aboutus_layout .con .content .company { top: 30px; left: 206px;}

.aboutus_team .con .title_con {width: 160px;}
.aboutus_team .con .title_con h2 {font-size: 24px; line-height: 160px;}
.aboutus_team .con .block_con {width: 800px;}
.aboutus_team .con .block_con .list_con {width: 444px;}
.aboutus_team .con .block_con .list_con:first-child {width: 333px; margin: 30px 0 0 22px;}
.aboutus_team .con .block_con .list_con:last-child {width: 333px;}
.aboutus_team .con .block_con .list_con .title_info {padding: 38px 50px;}
.aboutus_team .con .block_con .list_con .title_info p {font-size:16px; line-height:3    2px;}

.aboutus_culture .con {width: 584px;} 
.aboutus_culture .con .left_con {display: none;} 
.aboutus_culture .con .right_con {padding-top: 70px; margin-left: 0;}
}

@media screen and (max-width: 930px) {
.aboutus_team .con .title_con {display: none;}
.aboutus_team .con .block_con {width: auto; margin: 0 20px;}
.aboutus_team .con .block_con .min_none {display: none;}
.aboutus_team .con .block_con .max_none {display: inline;}
.aboutus_team .con .block_con .list_con {width: 100%; float: none; margin-top: 10px;}
.aboutus_team .con .block_con .list_con:first-child {width: 100%; margin: 0;}
.aboutus_team .con .block_con .list_con:last-child {width: 100%; margin: 0;}
.aboutus_team .con .block_con .list_con .title_info {padding: 32px; height: 100%;}
}

@media screen and (max-width: 830px) {
.aboutus_layout .con .content .con_lay .title_info h2 {font-size: 32px; line-height: 40px;}
.aboutus_layout .con .content .company { top: 30px; left: 152px;}

.aboutus_history .title_info {margin: 0px auto;}
.aboutus_history .title_info h2 {font-size:32px; line-height:40px;}

/* 
.aboutus_history .con .content .block_con .list_con {padding: 30px 20px 20px 20px;}
.aboutus_history .con .content .block_con .list_con .top img {width: 40px; height: 40px;}
.aboutus_history .con .content .block_con .list_con .top h2 {font-size: 28px; line-height:32px;}
.aboutus_history .con .content .block_con.even .list_con {padding-top: 30px;}
.aboutus_history .con .content .block_con .list_con .text_info ul {padding-top: 6px;}
.aboutus_history .con .content .block_con .list_con .text_info ul li p {font-size:14px; line-height: 20px;}
.aboutus_history .con .content .block_con .list_con .top {width: 80px;} */

.aboutus_history .con .line {display: block;}
.aboutus_history .con .content .list_con .text_info ul li:last-child {width: calc(100% - 70px);}
.aboutus_history .con .content .list_con .top {top: 0; left: 60px;}
.aboutus_history .con .content {width: 100%;}
.aboutus_history .con .content .list_con {width: auto; margin-left: 0; margin: 0 auto; display: block; padding: 0; border: none; margin-bottom: 30px;}
.aboutus_history .con .content .list_con>i {display: none;}
.aboutus_history .con .content .list_con .top h2 {top: 6px; font-size:32px; line-height:48px;}
.aboutus_history .con .content .list_con .top img {width: 50px; height: 50px;}
.aboutus_history .con .content .list_con .text_info ul li p {margin-top: 6px; line-height: 24px;}
.aboutus_history .con .content .list_con .text_info>i {display: block; top: -12px; left: 36px;}
.aboutus_history .con .content .list_con .text_info>span {display: block;}
.aboutus_history .con .content .line-style {display: none;}

.aboutus_history .con .content {padding-top: 40px;}
.aboutus_history .con .content .list_con:nth-child(odd) {height: auto; margin: 0 auto; position: static; margin-bottom: 30px;}
.aboutus_history .con .content .list_con:nth-child(odd) .top {top: 0;}
.aboutus_history .con .content .list_con:nth-child(odd) .text_info {padding-top: 0;}
.aboutus_history .con .content .list_con .text_info {padding: 0 2px 0 56px;}
.aboutus_history .con .content .list_con .text_info ul {padding-top: 10px;}
.aboutus_history .con .content .list_con .text_info ul li:first-child {margin-right: 20px; width: 36px;}
.aboutus_history .con .content .list_con .text_info ul li p {line-height:32px!important;}
}


@media screen and (max-width: 768px) {
.sub_banner .con .txt {padding-bottom: 60px;}
.sub_banner .con .txt p {line-height: 28px;}
.aboutus_team .con {margin: 50px 0;}

.aboutus_layout .con .content {padding: 20px 0;}
.aboutus_layout .con .content .con_lay {display: block; width: 100%;}
.aboutus_layout .con .content .con_lay .title_info {padding: 32px; width: auto;}
.aboutus_layout .con .content .con_lay .title_info h2 {font-size: 28px; line-height: 32px;}
.aboutus_layout .con .content .con_lay .title_info p {line-height: 24px;}
.aboutus_layout .con .content .con_lay .item {height: 30px;}
.aboutus_layout .con .content .con_lay .title_info .line-style {margin: 10px 0 10px 0; height: 2px;}
.aboutus_layout .con .content .company .title_info {padding: 32px;}
.aboutus_layout .con .content .company {position: static; margin-bottom: 10px;}

.aboutus_culture .con {width: 100%;}
.aboutus_culture .con .right_con>div {margin: 0 20px;}
.aboutus_culture .con .right_con {padding-top: 0; width: calc(100% - 40px);}
.aboutus_culture .con .right_con>div .title {top: 36px; left: 40px; z-index: 4;}
/* .aboutus_culture .con .right_con>div .line {bottom: 28px; left: 4px;} */
.aboutus_culture .con .right_con>div .line {display: none;}
.aboutus_culture .con .right_con>h2 {display: block;}
.aboutus_culture .con {margin: 40px auto;}
.aboutus_culture .con .right_con>div img {opacity: 0.6;} 

}

