.main .banner{ width: 100%; height: 1000px; color:#fff;}
.main .banner h2{ line-height:62px; font-size:60px; font-weight:300; padding-top:30%; letter-spacing:5px;}
.main .banner p{ font-size:30px; line-height:32px; margin-top:25px;}
.main .banner h2 strong{ font-weight:bold;}
.main .banner.wap{ display:none;}

.swiper-container {width: 100%;height: 100%;}
.main .banner .swiper-container-horizontal>.swiper-pagination-bullets, .main .banner .swiper-pagination-custom, .main .banner .swiper-pagination-fraction{ width:1200px; left:50%; margin-left:-600px; text-align:left;}
.main .banner .swiper-pagination-bullet{ background:rgba(255,255,255,0.2); width:20px; height:3px; border-radius:0; opacity:1;}
.main .banner .swiper-pagination-bullet-active{ width:120px; background:rgba(235,237,243,1);}


@media screen and (max-width:1920px){
.main .banner{ height:900px;}	

}
@media screen and (max-width:1820px){
.main .banner{ height:800px;}	
}

@media screen and (max-width:1720px){
.main .banner{ height:700px;}
.main .banner h2{  padding-top:20%; }
}

@media screen and (max-width:1430px){
.main .banner{ height:600px;}	
.company{ width:90%;}
}
@media screen and (max-width:1330px){

}
@media screen and (max-width:1230px){
.main .banner .swiper-container-horizontal>.swiper-pagination-bullets, .main .banner .swiper-pagination-custom, .main .banner .swiper-pagination-fraction{ width:90%; margin-left:-45%; bottom:20px;}

}

@media screen and (max-width:960px){
.main .banner{ height:500px; display:none;margin-top:49px;}	
.main .banner.wap{ display:block;}
.main .banner .mainbox{ width:80%;}

.main .banner h2{ line-height:42px; font-size:40px; padding-top:20%; }
.main .banner p{ font-size:20px; line-height:22px; margin-top:20px;}
}

@media screen and (max-width:768px){
.main .banner{ height:400px;}	
.company{ margin-top:50px;}
.main .banner .swiper-pagination-bullet-active{ width:40px; background:rgba(235,237,243,1);}
}

@media screen and (max-width:570px){
.main .banner{ height:300px;}	
 
}

@media screen and (max-width:450px){
.main .banner{ height:220px;}	
.main .banner h2{ line-height:30px; font-size:26px; padding-top:10%; letter-spacing:2px; }
.main .banner p{ font-size:16px; line-height:20px; margin-top:10px;}


}
@media screen and (max-width:400px){
.main .banner{ height:200px;}	
}