/* 三角形 */
.triangle {position: absolute; right: 40px; top: 50%; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #6e747d; display: inline-block; transform: translateY(-50%); transition: all ease-in-out 0.3s;}
.activeStyle {border-left: 3px solid #2863D3; transition: all ease-in-out 0.3s; font-weight: bold;}
.triangle.activeBtn {transform: rotate(-90deg); border-top-color: #2863D3;}

.sub_banner .con .txt h2 {margin: 0; font-size:40px; font-family:SourceHanSansSC-Regular; font-weight:400; color:rgba(24,27,32,1); line-height:59px;}
.sub_banners img {width: 100%;}

/* 联系我们 */
.contactus .con .map_con {margin-left: 200px; padding: 20px 0 0 15px;}
.contactus .con .map_con .img_con {position: relative; margin: 0 auto;}
.contactus .con .map_con .img_con>img {width: 100%;}
.contactus .con .map_con .img_con .loc_ico {position: absolute; font-size: 0;}

.contactus .con .map_con .img_con .loc_ico {min-width: 50px; position: absolute;}
.contactus .con .map_con .img_con .loc_ico>img {width: 0.6rem;}
.contactus .con .map_con .img_con .loc_ico h2 {background: #FFFFFF; position: absolute; top: 0%; left: 0.6rem; bottom: 0.1rem; width: 1.2rem; font-size: 0.18rem; line-height: 0.76rem; text-align: center;}

.contactus .con .map_con .img_con .loc_ico .shadow_top {box-shadow: 0px 0.04rem 0.15rem 0.04rem rgba(5, 34, 91, 0.1);}
.contactus .con .map_con .img_con .loc_ico .shadow_down {box-shadow: 0px -0.04rem 0.15rem 0.04rem rgba(5, 34, 91, 0.1);}

.contactus .con .map_con .img_con .loc_ico.loc_gw {top: 15%; left: 23%;}
.contactus .con .map_con .img_con .loc_ico.loc_bj {top: 21%; right: 15%;}
.contactus .con .map_con .img_con .loc_ico.loc_sz {top: 52%; right: 22%;}
.contactus .con .map_con .img_con .loc_ico.loc_sz h2 {top: 0.1rem; right: 30%; bottom: 0;}

.contactus .con .loc_con {margin-bottom: 10px;}
.contactus .con .loc_con.loc_cons {margin-bottom: 50px;}
.contactus .con .loc_con.loc_cons>div {float: left; box-sizing: border-box; width: 395px; margin-right: 10px; background: #FFFFFF;}
.contactus .con .loc_con.loc_cons>div:last-child {margin-right: 0;}
/*.contactus .con .loc_con.loc_cons>div:last-child p {margin-bottom: 32px;}*/

.contactus .con .loc_con>div {position: relative; padding: 45px 40px; box-sizing: border-box; box-shadow:0px 10px 30px 0px rgba(3,35,97,0.08);}
.contactus .con .loc_con .loc_info {position: relative; z-index: 2}
.contactus .con .loc_con>div>img {position: absolute; right: 0; bottom: 0; z-index: 1;}
.contactus .con .loc_con h2 {font-size:28px; font-family:SourceHanSansSC-Bold; font-weight:bold; color:rgba(255,255,255,1); line-height:41px; background:linear-gradient(180deg, rgba(47,107,233,1) 0%, rgba(21,85,207,1) 100%); -webkit-background-clip:text; -webkit-text-fill-color:transparent;}
.contactus .con .loc_con p {margin: 20px 0 55px; font-size:16px; font-family:SourceHanSansSC-Regular; font-weight:400; color:rgba(108,116,131,1); line-height:24px;}
.contactus .con .loc_con .btn {cursor: pointer; padding: 7px 35px; background: #FFFFFF; border: 1px solid #181B20;}
.contactus .con .loc_con .btn:hover {background: #2863D3; border-color: #2863D3;}
.contactus .con .loc_con .btn:active {background: #0B339F; border-color: #0B339F;}
.contactus .con .loc_con .btn span {font-size:16px; font-family:SourceHanSansSC-Regular; font-weight:400; color:rgba(24,27,32,1); line-height:22px;}
.contactus .con .loc_con .btn:hover span {color: #FFFFFF;}
.contactus .con .loc_con .btn .img_ico {width: 20px; height: 20px; margin: 2px 2px 2px 0; background: url(../images/icon_nav.png) no-repeat center; background-size: cover; vertical-align: top; display: inline-block;}
.contactus .con .loc_con .btn:hover .img_ico {background: url('../images/icon_nav_hover.png') no-repeat center;}
.contactus .con .loc_con .btn:active .img_ico {background: url('../images/icon_nav_hover(1).png') no-repeat center;}
.contactus .con .loc_con .loc_bj {width: 800px; background: #FFFFFF;}

.contactus .con .contact_info {margin: 20px auto; width: 772px; text-align: center;}
.contactus .con .contact_info .list_con {float: left; padding: 0 36px; border-right: 1px solid #E1E1E1;height: 88px;}
.contactus .con .contact_info .list_con:last-child {border: none;}
.contactus .con .contact_info .list_con h2 {font-size:16px; font-family:SourceHanSansSC-Bold; font-weight:bold; color:rgba(24,27,32,1); line-height:40px;}
.contactus .con .contact_info .list_con p {font-weight:400; color:rgba(108,116,131,1); line-height:24px;}

.joinus {text-align: center; margin-bottom: 100px;}
.joinus .btn {margin: 60px 0 80px; padding: 27px 64px; background: #FFFFFF; border:1px solid rgba(40,99,211,1); cursor: pointer; display: inline-block;}
.joinus .btn:hover {background: #2863D3; color:#FFFFFF;}
.joinus .btn:active {background: #0B339F; color:#FFFFFF;}
.joinus .btn:hover p{color:#FFFFFF;}
.joinus .btn p {word-wrap: break-word; font-size:18px; font-family:SourceHanSansSC-Medium; font-weight:500; color:rgba(40,99,211,1); line-height:27px;}

.joinus>ul>li>ul>li {text-align: left;}
.joinus>ul>li>ul>li:first-child:hover {outline:1px solid rgba(40,99,211,1); color: rgba(40,99,211,1); box-shadow:0px 2px 10px 0px rgba(3,35,97,0.08);}
.joinus>ul>li>ul>li:first-child:hover .triangle {border-top-color: #2863D3;}
.joinus>ul>li>ul>.activeStyle:hover {outline: none!important;}
.joinus>ul>li>ul>.activeStyle:hover {outline: none!important;}
.joinus>ul>li>ul>.activeStyle>p {color: #000000!important;}
.joinus>ul>li>ul>li:first-child {margin-bottom: 10px; padding: 27px 40px; position: relative; cursor: pointer;background:rgba(255,255,255,1); box-shadow:0px 2px 10px 0px rgba(3,35,97,0.1); font-size:18px; font-family:SourceHanSansSC-Bold; font-weight:bold; color:rgba(24,27,32,1); line-height:27px;}
.joinus>ul>li>ul>li:first-child p {margin-right: 15px;}
.joinus>ul>li>ul>li:first-child .triangle:hover {border-top-color: #2863D3!important;}
.joinus>ul>li>ul>li:last-child {display: none;}

.joinus>ul>li>ul>li:last-child>div {position: relative; margin-bottom: 88px; background: #FAFBFCFF; text-align: left; margin-left: 40px; padding: 30px 40px;}
.joinus>ul>li>ul>li:last-child>div .info_con {margin-bottom: 20px; }
.joinus>ul>li>ul>li:last-child>div .info_con:last-child {margin-bottom: 40px;}
.joinus>ul>li>ul>li:last-child>div .info_con h2 {font-size:16px; font-family:SourceHanSansSC-Bold; font-weight:bold; color:rgba(24,27,32,1); line-height:32px;}
.joinus>ul>li>ul>li:last-child>div .info_con p {font-size:16px; font-family:SourceHanSansSC-Regular; font-weight:400; color:rgba(108,116,131,1); line-height:32px;}
.joinus>ul>li>ul>li:last-child>div .btn {position: absolute; text-align: center; left: calc(50% - 143px); bottom: -38px; display: block; margin: 0; padding: 22px 102px; font-size:20px; font-family:SourceHanSansSC-Bold; font-weight:bold; color:rgba(255,255,255,1); line-height:29px; background:rgba(40,99,211,1); border:1px solid rgba(40,99,211,1);}
.joinus>ul>li>ul>li:last-child>div .btn:hover {background: #1644C0; border:1px solid #1644C0;}
.joinus>ul>li>ul>li:last-child>div .btn:active {background: #0B339F; border:1px solid #0B339F;}


@media screen and (max-width: 1230px) {
.contactus .con .map_con {margin-left: 0;}
.contactus .con .loc_con .loc_bj {width: 100%;}
.contactus .con .loc_con.loc_cons>div {float: none; width: 100%;}
}

@media screen and (max-width: 960px) {
.sub_banner {height: 300px;}
.sub_banners img {margin-top: 50px;}
}

@media screen and (max-width: 830px) {
.sub_banner .con .txt h2 {font-size: 20px;}
.contactus .con .contact_info {width: 100%;}
.contactus .con .contact_info .list_con {float: none; padding: 0 72px 0 56px; border: none; text-align: center;    height: auto;}
.joinus {margin-bottom: 80px;}
}

@media screen and (max-width: 768px) {
.contactus .con .map_con {margin: 0; padding: 0;}
.sub_banner .con .txt h2 {font-size: 24px;}
.sub_tab a {width: 50%;}
.triangle {right: 25px;}
.joinus .btn {margin: 20px 0 30px; padding: 16px 32px;}
.joinus>ul>li>ul>li:first-child {padding: 15px 25px;}
.joinus>ul>li>ul>li:last-child>div {margin-bottom: 58px;}
.joinus>ul>li>ul>li:last-child>div .info_con {margin-bottom: 10px; }
.joinus>ul>li>ul>li:last-child>div {margin-left: 0; padding: 20px 30px;}
.joinus>ul>li>ul>li:last-child>div .info_con p {font-size: 14px;line-height:28px;}
.joinus>ul>li>ul>li:last-child>div .btn {left: 0px; right: 0px; bottom: -34px; padding: 18px 40px;}
.joinus {margin-bottom: 50px;}
}

@media screen and (max-width: 630px) {
.sub_banner {height: 280px;}
.contactus .con .map_con .img_con .loc_ico h2 {display: none;}
}

@media screen and (max-width: 420px) {
.sub_banner {height: 180px;}
.contactus .con .map_con .img_con {width: 17.25rem; height: 7.4rem; margin: 0 auto;}
.contactus .con .map_con .img_con>img {width: 100%;}
.contactus .con .map_con .img_con .loc_ico {position: absolute;}
.contactus .con .map_con .img_con .loc_ico .txt {width: 3.6rem; height: 1.8rem;}
.contactus .con .map_con .img_con .loc_ico .txt h2 {margin-left: 0.66rem; line-height: 1.8rem; text-align: center; font-size: 0.16rem;}
.contactus .con .map_con .img_con .loc_ico.loc_gw {top: 0.9rem; left: 4.2rem;}
.contactus .con .map_con .img_con .loc_ico.loc_sz {top: 3.3rem; right: 3.2rem;}
.contactus .con .map_con .img_con .loc_ico.loc_bj {top: 0.97rem; right: 0.33rem;}
}



