@media screen and (max-width: 768px){
	.contactus .con .map_con .img_con .loc_ico.loc_gw{
		bottom:64%;
		left: 25.7%;
		right: auto;
		top: auto;
	}
	.contactus .con .map_con .img_con .loc_ico.loc_bj{
		left: 78.7%;
		bottom: 58.8%;
		top: auto;
		right: auto;
	}
	.contactus .con .map_con .img_con .loc_ico.loc_sz{
		top: auto;
		bottom: 31%;
		left: 60%;
		right: auto;
	}
	.contactus .con .map_con .img_con .loc_ico h2{position: static;width: auto;font-size: 12px;line-height:30px;}
	
	.contactus .con .map_con .img_con .loc_ico{padding-left: 23px;}
	.contactus .con .map_con .img_con .loc_ico img{width: 23px;position: absolute;left: 0;top: 0}
	.contactus .con .map_con .img_con .loc_ico.loc_sz{padding-left: 0;padding-right: 23px;}
	.contactus .con .map_con .img_con .loc_ico.loc_sz img{left: auto;right: 0;top: -4px;}
	.contactus .con .map_con .img_con
}
@media screen and (max-width: 630px){
	.contactus .con .map_con .img_con .loc_ico h2 {
    	display: block; 
	}
}
@media screen and (max-width: 420px){
	.contactus .con .map_con .img_con {
	    height: auto; 
	}
}

