.footer {
    background: rgba(24, 27, 32, 1);
}

.footer .content {
    padding: 40px 0 20px 0;
}

.footer .content .foot_logo img {
    width: 189px;
    height: 31px;
}

.footer .content .foot_nav {
    margin: 50px 0;
}

.footer .content p {
    height: 20px;
    font-size: 14px;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(108, 116, 131, 1);
    line-height: 20px;
}

.footer .content .foot_nav ul li {
    float: left;
    margin-right: 100px;
}

.footer .content .foot_nav ul li a {
    height: 24px;
    font-size: 16px;
    font-family: SourceHanSansSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
}

.footer .content .foot_nav ul,
.footer .content .foot_nav>div {
    display: inline-block;
}

.footer .content .foot_nav .relation {
    float: right;
}

.footer .content .foot_nav .relation>div {
    float: left;
}

.footer .content .foot_nav .relation .text_info img {
    margin-right: 6px;
}

.footer .content .foot_nav .relation .text_info .number {
    margin-top: 10px;
    font-size: 16px;
    font-family: Lato-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.footer .content .foot_nav .relation .text_info .number p {
    margin-left: 48px;
}

.footer .content .foot_nav .relation .text_info .location {
    margin-top: 20px;
    font-size: 16px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.footer .content .foot_nav .relation .img_info dl {
    margin-left: 28px;
}

.footer .content .foot_nav .relation .img_info dl dd {
    margin-top: 5px;
    text-align: center;
    height: 18px;
    font-size: 12px;
    font-family: SourceHanSansSC-Regular;
    font-weight: 400;
    color: rgba(108, 116, 131, 1);
    line-height: 18px;
}