.breadcrumb > li + li:before {color: #181B20; content: ">"; padding: 0 5px;}

/*.logo a {background: url(../images/logo_black.png) no-repeat; width: 189px; height: 31px; background-size: contain; display: block;}
*/
.menu > ul > li>a {color: #000;}

.newsInfo {margin: 32px auto;}
.newsInfo ul li {float: left;}
.newsInfo ul li:first-child:hover a {color: #2863D3;}
.newsInfo ul li:first-child:active a {color: #0B339F;}
.newsInfo ul li a {font-size:14px; font-family:SourceHanSansSC-Normal; font-weight:400; color: #181B20; line-height:20px;}

.newsInfo {margin-top: 150px; margin-bottom: 100px;}
.newsInfo>div {float: left;}
.newsInfo .left_con {width: 800px; margin-right: 40px;}
.newsInfo .left_con .title_info h2 {margin-top: 27px; font-size:34px; font-weight: 500; font-family:Helvetica; color:rgba(24,27,32,1); line-height:52px;}
.newsInfo .left_con .title_info span {display: inline-block; margin: 50px 28px 0 0; font-size:18px; font-family:Helvetica; color:rgba(40,99,211,1); line-height:22px;}
.newsInfo .left_con .title_info .line-style {height:1px; width: calc(100% - 135px); background: #E8E5E5; display: inline-block; margin: 6px;} 
.newsInfo .left_con .title_info h3 {margin-top: 50px; font-size:16px; font-family:SourceHanSansSC-Regular; font-weight:400; color:rgba(108,116,131,1); line-height:32px;}
.newsInfo .left_con .title_info p {margin-top: 30px; font-size:16px; font-family:SourceHanSansSC-Regular; font-weight:400; color:rgba(108,116,131,1); line-height:32px;}


.newsInfo .text_con p {margin-top: 30px; font-size:16px; font-family:SourceHanSansSC-Regular; font-weight:400; color:rgba(108,116,131,1); line-height:32px;}
.newsInfo .text_con p img {margin: 10px auto; width: 100%;}

.newsInfo .left_con .share {text-align: right; margin: 0 auto;}
.newsInfo .left_con .share span {margin: 0 10px; display: inline-block; line-height: 34px; font-size:16px; font-family:SourceHanSansSC-Medium; font-weight:500; color:rgba(108,116,131,1);} 
.newsInfo .left_con .share .img_ico {margin: 0 10px; width: 34px; height: 34px; background-size: cover; display: inline-block; vertical-align: bottom;} 
.newsInfo .left_con .share .img_ico.weibo {background: url(../images/icon_weibo.png) no-repeat center top;} 
.newsInfo .left_con .share .img_ico.weibo:hover {background: url(../images/icon_weibo_hover.png) no-repeat center top;} 
.newsInfo .left_con .share .img_ico.weibo:active {background: url(../images/icon_weibo_pressed.png) no-repeat center top;} 
.newsInfo .left_con .share .img_ico.weixin {background: url(../images/icon_weixin.png) no-repeat center top;} 
.newsInfo .left_con .share .img_ico.weixin:hover {background: url(../images/icon_weixin_hover.png) no-repeat center top;} 
.newsInfo .left_con .share .img_ico.weixin:active {background: url(../images/icon_weixin_pressed.png) no-repeat center top;} 
.newsInfo .left_con .share .img_ico:last-child {margin: 0;} 
.newsInfo .left_con>.line-style {margin: 50px 0 30px; width: 100%; height: 1px; background: #E8E5E5;} 
.newsInfo .left_con .btn_con a {display: inline-block;}
.newsInfo .left_con .btn_con a:hover span {color: #2863D3;}
.newsInfo .left_con .btn_con a.left_btn:hover  .img_ico {background: url(../images/icon_prepage_hover.png) no-repeat center;}
.newsInfo .left_con .btn_con a.left_btn:active  .img_ico {background: url(../images/icon_prepage_hover\(1\).png) no-repeat center;}
.newsInfo .left_con .btn_con a.right_btn:hover  .img_ico {background: url(../images/icon_nextpage_hover.png) no-repeat center;}
.newsInfo .left_con .btn_con a.right_btn:active  .img_ico {background: url(../images/icon_nextpage_hover\(1\).png) no-repeat center;}
.newsInfo .left_con .btn_con a:active span {color: #0B339F;}
.newsInfo .left_con .btn_con a:last-child {float: right;}
.newsInfo .left_con .btn_con a .img_ico {width: 24px; height: 24px; background-size: cover; display: inline-block;} 
.newsInfo .left_con .btn_con a span {line-height: 24px; font-size:16px; font-family:SourceHanSansSC-Normal; font-weight:400; color:rgba(24,27,32,1); vertical-align: top;} 

.newsInfo .left_con .btn_con a.left_btn {float: left;}
.newsInfo .left_con .btn_con a.right_btn {float: right;}
.newsInfo .left_con .btn_con a.left_btn .img_ico {background: url(../images/icon_prepage.png) no-repeat center;} 
.newsInfo .left_con .btn_con a.right_btn .img_ico {background: url(../images/icon_nextpage.png) no-repeat center;}

.newsInfo .right_con {width: 320px; margin-left: 40px;} 
.newsInfo .right_con .text_con {margin-top: 60px;}
.newsInfo .right_con .text_con .img_con img {width: 100%;}
.newsInfo .right_con h2 {margin-top: 10px; font-size:24px; font-family:SourceHanSansSC-Bold; font-weight:bold; color:rgba(24,27,32,1); line-height:36px;} 
.newsInfo .right_con .text_con h2 {font-size:16px; font-family:SourceHanSansSC-Medium; font-weight:500; color:rgba(24,27,32,1); line-height:32px;} 
.newsInfo .right_con .text_con p {margin-top: 10px; font-size:14px; font-family:SourceHanSansSC-Regular; font-weight:400; color:rgba(108,116,131,1); line-height:26px;} 

@media screen and (max-width: 1230px) {
.newsInfo>div {float: none; width: 100%!important;}
.newsInfo .left_con {margin: 0 auto;}
.newsInfo .right_con {margin: 40px 0 0 0;}
.newsInfo .right_con {width: calc(100% + 10px);}
.newsInfo .right_con .text_con {margin-right: 10px; width: calc(33.33% - 10px); float: left;}

}


@media screen and (max-width: 830px) {
.newsInfo .left_con .title_info span {margin: 30px 28px 0 0;}
.newsInfo .left_con .title_info .line-style {margin: 6px;} 
.newsInfo .left_con .title_info h3 {margin-top: 20px;}
.newsInfo .left_con .title_info p {margin-top: 15px; line-height: 24px;}

.newsInfo .right_con .text_con {width: 100%;}


.newsInfo .left_con>.line-style {margin: 30px 0 15px;} 
.newsInfo .right_con {margin: 30px 0 0 0;}
.newsInfo .right_con .text_con {margin-top: 20px;}
.newsInfo {margin-bottom: 50px;}
}



@media screen and (max-width: 768px) {
.newsInfo {margin-top: 70px;}
.newsInfo .text_con p {line-height: 24px;}
.newsInfo .left_con .title_info h2 {margin-top: 10px; font-size: 24px; line-height:32px;}
.newsInfo .left_con .title_info span {margin: 10px 28px 0 0;}
.newsInfo .left_con .title_info h3 {margin-top: 10px; font-size:14px; line-height:24px;}
.newsInfo .left_con .title_info p {font-size:14px; line-height:24px;}
/* .newsInfo .left_con .news_con .text_con .img_con {margin: 15px 0;} 
.newsInfo .left_con .news_con .text_con .text_info p {margin-bottom: 10px; font-size:14px;line-height: 24px;}  */

.newsInfo .right_con h2 {font-size:24px; line-height:32px;} 
.newsInfo .right_con .text_con {margin-top: 10px;}
}