
.no {display: none;}

.sub_banner .con .txt_con {position: relative; margin-bottom: 100px;}
.sub_banner .con .txt_con .txt {display: block; background: #ffffff; width: 520px; padding: 40px 50px; box-sizing: border-box;}
.sub_banner .con .txt_con .txt h2 {font-size:30px; font-family:SourceHanSansSC-Bold; font-weight:bold; color:rgba(24,27,32,1); line-height:45px;}
.sub_banner .con .txt_con .txt p {font-size:18px; font-family:Helvetica; color:rgba(108,116,131,1); line-height:22px;}
.sub_banner .con .txt_con .block {height: 30px; background:linear-gradient(90deg,rgba(40,99,211,1) 0%,rgba(255,255,255,0) 100%);}

/* tab 切换按钮 */
.news_market .con .tab_btn {text-align: center}
.news_market .con .tab_btn ul {display: inline-block;}
.news_market .con .tab_btn ul li {float: left; margin: 20px 60px 0;}
.news_market .con .tab_btn ul li a {font-size:22px; font-family:SourceHanSansSC-Bold; font-weight:bold; color:rgba(24,27,32,1); line-height:33px;}
.news_market .con .tab_btn .clickBtn a {padding-bottom: 20px; border-bottom: 3px solid #181B20;} 

/* tab 内容 */
.news_market .con .tab_con {text-align: center;}
.news_market .con .tab_con .list_con {margin-top: 50px; display: inline-block;}
.news_market .con .tab_con .list_con>div {float: left; width: 600px}
.news_market .con .tab_con .list_con .img_con a {display: block;}
.news_market .con .tab_con .list_con .img_con a>img {width: 100%;}
.news_market .con .tab_con .list_con .text_con .info {padding: 65px 100px; text-align: left; background: #FBFCFE;}
.news_market .con .tab_con .list_con .text_con .info h2 a {float: left; margin-top: 0; font-size: 20px; font-family: SourceHanSansSC-Bold; font-weight: bold; color:rgba(24,27,32,1); line-height: 35px;}
.news_market .con .tab_con .list_con .text_con .info p {margin: 20px 0; font-size: 16px; font-family: SourceHanSansSC-Regular; font-weight: 400; color:rgba(108,116,131,1); line-height: 30px;}
.news_market .con .tab_con .list_con .text_con .info h3 {font-size:18px; font-family:PingFangSC-Regular; font-weight:400; color:rgba(108,116,131,1); line-height:25px;}
.news_market .con .tab_con .list_con .text_con .info a {display: block; margin-top: 30px;}
.news_market .con .tab_con .list_con .text_con .info a .img_ico {width: 44px; height: 44px; background: url(../images/icon_go.png) no-repeat center; background-size: cover;}
.news_market .con .tab_con .list_con .text_con .info a .img_ico:hover {background: url(../images/icon_go_hover.png) no-repeat center;}
.news_market .con .tab_con .list_con .text_con .info a .img_ico:active {background: url(../images/icon_go_pressed.png) no-repeat center;}

/* tab 内容的翻页按钮 */
.news_market .con .tab_con .pageBtn {text-align: center; margin: 100px auto;}
.news_market .con .tab_con .pageBtn ul {display: inline-block;}
.news_market .con .tab_con .pageBtn ul li {float: left; margin-right: 9px;}
.news_market .con .tab_con .pageBtn ul li a {display: block; color: #000;}
.news_market .con .tab_con .pageBtn ul li:last-child {margin-right: 0; line-height: 46px;}
.news_market .con .tab_con .pageBtn ul li:last-child input {width: 28px; margin: 0 6px; border: 1px solid #ccc;}
.news_market .con .tab_con .pageBtn ul li:last-child button {background: #ffffff; border: 1px solid #cccccc; cursor: pointer;}
.news_market .con .tab_con .pageBtn ul li:last-child button:hover {background: #2863D3; color: #ffffff;}
.news_market .con .tab_con .pageBtn ul li:last-child button:active {background: #0B339F; color: #ffffff;}
.news_market .con .tab_con .pageBtn .btn {line-height: 46px; width:44px; height:44px; border-radius:2px; border:1px solid rgba(211,211,211,0.3); cursor: pointer; background: #FFFFFF;}
.news_market .con .tab_con .pageBtn .btn a {transition: none;}
.news_market .con .tab_con .pageBtn .activeBtn a {color: #FFFFFF;}
.news_market .con .tab_con .pageBtn .activeBtn, .news_market .con .tab_con .pageBtn .btn:hover {background: #2863D3; color: #FFFFFF;}
.news_market .con .tab_con .pageBtn .activeBtn, .news_market .con .tab_con .pageBtn .btn:hover a {color: #FFFFFF;}
.news_market .con .tab_con .pageBtn .btn:active {background: #0B339F;}
.news_market .con .tab_con .pageBtn .activeBtn, .news_market .con .tab_con .pageBtn .btn:active a {color: #FFFFFF;}

@media screen and (max-width: 1460px) {
.sub_banner .con .txt_con {margin-bottom: 100px; margin-left: 80px;}
}

@media screen and (max-width: 1230px) {
.news_market .con .tab_con .list_con>div {width: 450px}
.news_market .con .tab_con .list_con .text_con .info {padding: 10px 28px;}
.news_market .con .tab_con .list_con .text_con .info p {margin: 15px 0;}
.news_market .con .tab_con .list_con .text_con .info a {margin-top: 20px;}

.sub_banner .con .txt_con {margin-bottom: 40px; margin-left: 0;    }
.sub_banner .con .txt_con .txt {width: auto; padding: 30px 40px; }
.sub_banner .con .txt_con .txt h2 {font-size:28px; font-family:SourceHanSansSC-Bold; line-height:38px;}
.sub_banner .con .txt_con .txt p {font-size:18px; line-height:22px;}
.sub_banner .con .txt_con .block {height: 30px; width: auto;}

}

@media screen and (max-width: 1030px) {
.news_market .con .tab_con .list_con>div {width: 360px}
.news_market .con .tab_con .list_con .text_con .info {padding: 10px;}
.news_market .con .tab_con .list_con .text_con .info h2 {line-height: 31px;}    
.news_market .con .tab_con .list_con .text_con .info p {margin: 10px 0;}
.news_market .con .tab_con .list_con .text_con .info a {margin-top: 10px;}
}



@media screen and (max-width: 830px) {
.news_market .con .tab_con .list_con>div {width: 326px}
.news_market .con .tab_con .list_con .text_con .info {padding: 10px;}
.news_market .con .tab_con .list_con .text_con .info h2 {line-height: 29px; font-size: 16px; line-height: 26px;}
.news_market .con .tab_con .list_con .text_con .info p {font-size: 14px; line-height: 20px;}
.news_market .con .tab_con .list_con .text_con .info h3 {font-size:14px; line-height: 20px;}
.news_market .con .tab_con .list_con .text_con .info a {margin-top: 10px;}
.news_market .con .tab_con .list_con .text_con .info h2 a {line-height: 30px;}
.news_market .con .tab_con .pageBtn {margin: 50px auto;}
}


@media screen and (max-width: 768px) {
.sub_banner .con .txt_con {margin: 0 auto; margin-bottom: 40px;}
.sub_banner .con .txt_con .txt {width: auto; padding: 15px 20px; }
.sub_banner .con .txt_con .txt h2 {font-size:24px; line-height:32px;}
.sub_banner .con .txt_con .txt p {font-size:14px; line-height:20px;}
.sub_banner .con .txt_con .block {height: 20px; width: auto;}

.news_market .con .tab_btn ul li {float: left; margin: 10px 10px 0;}
.news_market .con .tab_btn ul li a {font-size:18px; line-height:24px;}
.news_market .con .tab_btn .clickBtn a {padding-bottom: 10px;} 

.news_market .con .tab_con .list_con {margin-top: 30px;}
.news_market .con .tab_con .list_con>div {float: none; width: auto;}
.news_market .con .tab_con .list_con .text_con .info a {float: right;}
  
.news_market .con .tab_con .pageBtn {margin: 40px auto;}

.news_market .con .tab_con .pageBtn .btn {line-height: 46px; width:44px; height:44px;}

.sub_tab a {width: 50%;}
}