.no {display: none;}

.menu > ul > li>a {color: #000000;}
.language a {color: #000000;}
.logo a {background: url(../images/logo_black2.png) no-repeat; background-size: contain;}
.header.lineb .logo a {background: url(../images/logo_black2.png) no-repeat;  background-size: contain;};

.search {margin-top: 87px!important;}
.search .con {padding: 187px 0 0 0;}
.search .con .highcolor {color: #2863D3; font-weight: bold;}
.search .con>h2 {margin-bottom: 50px; font-size:34px; font-weight:500; color:rgba(24,27,32,1); line-height:52px;}
.search .con ul {margin-bottom: 40px;}
.search .con ul:last-child {margin-bottom: 0;}
.search .con ul:last-child li:last-child {display: none;}
.search .con ul>li {margin-bottom: 10px;}
.search .con ul>li>a>h3 {font-size:20px; font-weight:bold; color:rgba(24,27,32,1); line-height:29px;}
.search .con ul>li>a>p {font-size:16px; font-weight:400; color:rgba(108,116,131,1); line-height:24px;}
.search .con ul>li>span {font-size:18px; font-weight:400; color:rgba(108,116,131,1); line-height:25px;}
.search .con ul>li:last-child {margin: 30px 0 0 0; height: 1px; background: rgba(0, 0, 0, 0.1); box-shadow:0px 0px 0px 0px rgba(0,0,0,0.3);}

.search.null .con .imgcon {width: 100%; height: 200px; min-height: 520px;}
.search.null .con .imgcon img {margin: 0 auto; margin-top: 240px; display: block; width: 280px;}

.search .pageBtn {text-align: center; margin: 100px auto;}
.search .pageBtn ul {display: inline-block;}
.search .pageBtn ul li {float: left; margin-right: 9px;}
.search .pageBtn ul li a {display: block; color: #000;}
.search .pageBtn ul li:last-child {margin-right: 0; line-height: 46px;}
.search .pageBtn ul li:last-child input {width: 28px; margin: 0 6px; border: 1px solid #ccc;}
.search .pageBtn ul li:last-child button {background: #ffffff; border: 1px solid #cccccc; cursor: pointer;}
.search .pageBtn ul li:last-child button:hover {background: #2863D3; color: #ffffff;}
.search .pageBtn ul li:last-child button:active {background: #0B339F; color: #ffffff;}
.search .pageBtn .btn {line-height: 46px; width:44px; height:44px; border-radius:2px; border:1px solid rgba(211,211,211,0.3); cursor: pointer; background: #FFFFFF;}
.search .pageBtn .btn a {transition: none;}
.search .pageBtn .activeBtn a {color: #FFFFFF;}
.search .pageBtn .activeBtn, .search .pageBtn .btn:hover {background: #2863D3; color: #FFFFFF;}
.search .pageBtn .activeBtn, .search .pageBtn .btn:hover a {color: #FFFFFF;}
.search .pageBtn .btn:active {background: #0B339F;}
.search .pageBtn .activeBtn, .search .pageBtn .btn:active a {color: #FFFFFF;}


.footer {margin-top: 0;}

@media screen and (max-width: 1230px) {
.search .con {padding: 160px 0 0 0;}
}

@media screen and (max-width: 960px) {
.logo a {background: url(../images/logo_white@2x.png) no-repeat; background-size: contain;}
.header.lineb .logo a {background: url(../images/logo_white@2x.png) no-repeat;  background-size: contain;}
.search .con {padding: 90px 0 40px 0;}
.search .con>h2 {margin-bottom: 20px;}
.search.null .con .imgcon img {margin-top: 180px; width: 200px;}
.search .pageBtn {margin: 60px auto;}
}

@media screen and (max-width: 768px) {
.search .con>h2 {font-size:24px; line-height:30px;}
.search .con {padding: 70px 0 20px 0;}
.search.null .con .imgcon img {margin-top: 120px;}
.search .pageBtn {margin: 40px auto;}
}

@media screen and (max-width: 430px) {
.search.null .con .imgcon img {margin-top: 100px; width: 140px;}
}   

