html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,section, article, aside, header, footer, nav, dialog, figure,menu,hgroup{ margin:0; padding:0; border:0;  font-family:"PingFang SC","Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;;  font-weight:400;}
html{ -webkit-text-size-adjust:none;}
body{ font-size:14px; line-height:26px;  color:#333!important;}
input,textarea,button,select{ resize:none;  -webkit-appearance: none; font-family:"PingFang SC","Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;}
img{ border:none; vertical-align:top; }
ul,li{ list-style:none;}
a{ text-decoration:none; color:#333; transition:color 0.3s ease-in;border:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline: none;}
a:hover{ outline:none; text-decoration:none;}
a:focus{ outline:none;}
h1,h2{ font-weight:normal;}
input:focus,textarea:focus,button{ outline:none; -webkit-appearance: none;}
em,i{ font-style:normal;}

input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner { border: none; padding: 0;}
::-webkit-input-placeholder { color: #999;}
:-moz-placeholder { color: #999;}
::-moz-placeholder { color: #999;}
:-ms-input-placeholder { color: #999;}

@font-face { font-family: 'fontello'; src: url('../font/fontello.eot'); src: url('../font/fontello.eot?#iefix') format('embedded-opentype'), url('../font/fontello.woff') format('woff'), url('../font/fontello.ttf') format('truetype'), url('../font/fontello.svg#fontname') format('svg');}

.mainbox{ width:1200px; margin:0 auto;}
.or{ overflow:hidden;} 
.cl:after {content: ""; display: block; clear: both;}

body.modal{ width:100%; position:fixed; }

/* .bk {background-color: #f4f4f4;} */
.main .dk {padding-bottom: 50px; font-size: 0;}
.main .dk:nth-child(2n) {background-color: #f4f4f4;}
/* .main .dk:last-child { padding-bottom: 0;} */


/* 标题 */
.title { padding: 50px 0; text-align: center;}
.title > span { font-size: 28px; font-weight: 500; padding: 0 20px;}
.title > img { display: inline-block; vertical-align: middle;}
/* 介绍 */
.introduce { width: 100%; margin:0 auto; position: relative; color:#333;}
.introduce > h3 {font-size: 30px; font-weight: 500; padding: 0 50px;}
.introduce > p {max-width: 1200px; padding: 0 50px; font-size: 14px;}


/* 相关产品 */
.relate_product dl { display: inline-block; width: 20%; color: #727272; font-size: 14px; text-align: center;}
.relate_product dl dd > p { margin-top: 25px;}
.relate_product dl > dt > img { width: 96px; height: 96px;}


@media screen and (max-width: 1230px) {
.mainbox {width: 90%;}
}