<!DOCTYPE html>
<html lang="en">
<head>
    {% load head %}
    {% head %}


    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/basicstyle.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/header.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/header.search.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet" media="all">

    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all">

    {% block extracss %}
    {% endblock %}
</head>
<body>
    <div id="content">
        {% load header %}
        {% header %}

        {% block mainbody %}
            <p>original</p>
        {% endblock %}

        {% load footer %}
        {% footer %}
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
</body>
</html>
