<div class="footer">
    <div class="content mainbox">
        <div class="foot_logo">
            <p>{{ dk_name }}</p>
        </div>
        <ul>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">加入我们</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">新闻动态</a></li>
        </ul>
        <dl>
            <dt><img src="{% static 'images/icon_footor_number.png' %}" alt=""><span>18510284418</span></dt>
            <dt><img src="{% static 'images/icon_footor_location.png' %}" alt=""><span>北京市朝阳区东方华瑞A座507</span></dt>
        </dl>

        <div class="erwei">
            <p><img src="{% static 'images/img_footor_weibo.png' %}"><span>微博</span></p>
            <p><img src="{% static 'images/img_footor_weixin.png' %}"><span>微信公众号</span></p>
        </div>
        <div class="cl"></div>
        <p class="copy">Copyright &#169 2019 上海入五出三数据科技有限责任公司版权所有 沪10011491号-25</p>
    </div>
</div>