<div class="header">
    <div class="con cl">
        <div class="logo"><a href="#">DataKnower</a></div>
        <div class="menu">
            <ul>
                <li class="none">
                    <!-- <div class="searchBar cl">
                        <div class="box cl">
                            <a class="searchIco" url="wwww"></a>
                            <a class="close" href="javascript:;"></a>
                            <input type="text" placeholder="搜索">
                        </div>
                    </div> -->
                </li>
                <li><a href="/home">首页</a></li>
                <li><a href="/product">产品</a><i class="openbt"></i>
                    <ul>
                        <div class="ul_con">
                            <li class="first"><a href="#">声学技术</a>
                                <dl>
                                    <dt><a href="#">自研传感器</a><a href="#">产品动态</a></dt>
                                </dl>
                            </li>
                            <li><a href="#">声纹识别技术</a>
                                <dl>
                                    <dt><a href="#">声纹识别类型</a><a href="#">语音拓展</a></dt>
                                    <dt><a href="#">声纹大数据</a><a href="#">语音唤醒</a></dt>
                                </dl>
                            </li>
                        </div>
                    </ul>
                </li>

                <li><a href="/solution">解决方案</a><i class="openbt"></i>
                    <ul>
                        <div class="ul_con">
                            <li class="sen"><a href="#">产品</a></li>
                            <li><a href="#">应用领域</a></li>
                        </div>
                    </ul>
                </li>

                <li><a href="#" class="active">咨询服务</a><i class="openbt"></i>
                    <ul>
                        <div class="ul_con">
                            <li class="san"><a href="#">消费电子</a>
                                <dl>
                                    <dt><a href="#">移动设备</a><a href="#">层智能电视</a></dt>
                                    <dt><a href="#">智能音箱</a><a href="#">智能家居</a></dt>
                                    <dt><a href="#">车载电子</a></dt>
                                </dl>
                            </li>
                            <li><a href="#">工业领域</a>
                                <dl>
                                    <dt><a href="#">电厂及供电系统</a><a href="#">港口设备</a></dt>
                                    <dt><a href="#">自动生产线</a></dt>
                                </dl>
                            </li>
                            <li><a href="#">公共安全</a>
                                <dl>
                                    <dt><a href="#">公安</a><a href="#">自动生产线</a></dt>
                                </dl>
                            </li>
                            <li><a href="#">金融保险</a>
                                <dl>
                                    <dt><a href="#">银行</a><a href="#">保险</a></dt>
                                </dl>
                            </li>
                        </div>
                    </ul>
                </li>

                <li><a href="#">案例</a></li>
                <li><a href="#">合作伙伴</a><i class="openbt"></i>
                    <ul>
                        <div class="ul_con">
                            <li class="si"><a href="#">联系我们</a></li>
                            <li><a href="#">加入我们</a></li>
                        </div>
                    </ul>
                </li>
                <div class="language"><a href="#">EN</a></div>
                <!-- <div class="searchBtn"><a class="serIco" href="javascript:;"></a></div> -->
            </ul>
        </div>
        <a href="javascript:;" class="menu-mobile"></a>
    </div>
</div>