
{%extends "base.html" %}

{% block extracss %}
    <link href="{% static 'css/swiper.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block mainbody %}
    <div class="main">
        <div class="banner index-ban">
            <div class="swiper-container swiper-container1">
                <div class="swiper-wrapper">
                    {% for item in swiper %}
                        <div class="swiper-slide"
                         style="background: url({{ item.img }}) no-repeat center top #0A2E61; background-size: cover;">
                        <div class="mainbox">
{#                            <h2>开启<strong>智能声音</strong>新时代</h2>#}
                            <h2>{{ item.title }}</h2>
                            <p>{{ item.sub_title }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination1"></div>
            </div>
        </div>

        <div class="banner wap">
            <div class="swiper-container swiper-container2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"
                         style="background: url('{% static 'images/banner1@2x.png' %}') no-repeat center top #0A2E61; background-size: cover;">
                        <div class="mainbox">
                            <h2>开启<strong>智能声音</strong>新时代</h2>
                            <p>智能声学产品及解决方案提供商</p>
                        </div>
                    </div>
                    <div class="swiper-slide"
                         style="background: url('{% static 'images/banner1@2x.png' %}') no-repeat center top #0A2E61; background-size: cover;">
                        <div class="mainbox">
                            <h2>开启<strong>智能声音</strong>新时代</h2>
                            <p>智能声学产品及解决方案提供商</p>
                        </div>
                    </div>
                    <div class="swiper-slide"
                         style="background: url('{% static 'images/banner1@2x.png' %}') no-repeat center top #0A2E61; background-size: cover;">
                        <div class="mainbox">
                            <h2>开启<strong>智能声音</strong>新时代</h2>
                            <p>智能声学产品及解决方案提供商</p>
                        </div>
                    </div>
                    <div class="swiper-slide"
                         style="background: url('{% static 'images/banner1@2x.png' %}') no-repeat center top #0A2E61; background-size: cover;">
                        <div class="mainbox">
                            <h2>开启<strong>智能声音</strong>新时代</h2>
                            <p>智能声学产品及解决方案提供商</p>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination2"></div>
            </div>
        </div>

        <!-- 公司简介 -->
        <div class="dk company">
            <div class="title">
                <span>{{ company.title }} </span>
            </div>
            <p>{{ company.info }}</p>
        </div>

        <!-- 核心产品 -->
        <div class="dk product">
            <div class="title">
                <span>核心产品</span>
            </div>

            <div class="mainbox">
                <div class="info">
                    <ul>
                        <li>
                            <h2>行业智能决策产品</h2>
                            <h3>在智能认知基础上对复杂业务问题进行智能分析和预测决策，结合行业特点，帮助客户解决场景化问题。</h3>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <h2>行业智能决策产品</h2>
                            <h3>在智能认知基础上对复杂业务问题进行智能分析和预测决策，结合行业特点，帮助客户解决场景化问题。</h3>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <h2>行业智能决策产品</h2>
                            <h3>在智能认知基础上对复杂业务问题进行智能分析和预测决策，结合行业特点，帮助客户解决场景化问题。</h3>
                        </li>
                    </ul>
                </div>
                <div class="con">
                    <ul>
                        <li>
                            <p>行业智能决策产品</p>
                        </li>
                        <li><a href="#">智能政府决策系统</a></li>
                        <li><a href="#">智能政府决策系统</a></li>
                        <li><a href="#">智能政府决策系统</a></li>
                        <li><a href="#">智能政府决策系统</a></li>
                        <li><a href="#">智能政府决策系统</a></li>
                    </ul>

                    <ul>
                        <li>
                            <p>行业智能决策产品</p>
                        </li>
                        <li><a href="#">智能政府决策系统</a></li>
                        <li><a href="#">智能政府决策系统</a></li>
                        <li><a href="#">智能政府决策系统</a></li>
                        <li><a href="#">智能政府决策系统</a></li>
                        <li><a href="#">智能政府决策系统</a></li>
                    </ul>

                    <ul>
                        <li>
                            <p>行业智能决策产品</p>
                        </li>
                        <li><a href="#">智能政府决策系统</a></li>
                        <li><a href="#">智能政府决策系统</a></li>
                        <li><a href="#">智能政府决策系统</a></li>
                        <li><a href="#">智能政府决策系统</a></li>
                        <li><a href="#">智能政府决策系统</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 行业服务 -->
        <div class="dk service">
            <div class="title">
                <span>行业服务</span>
            </div>

            <div class="mainbox">
                {% for item in service %}
                    <ul>
                        <li>{{ item.title }}</li>
                        <li class="info">
                            <p>{{ item.info }}</p>
                            <button>了解详情</button>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>

        <!-- 我们的客户 -->
        <div class="dk client">
            <div class="title">
                <span>我们的客户</span>
            </div>

            <div class="mainbox">
                {% for item in client %}
                    <img src="{{ item.img }}" alt="">
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}

