{% extends "base.html" %}

{% block extracss %}
    <link href="{% static 'css/product.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block mainbody %}
    <div class="sub_banner"
         style="background:url({{ banner.img }}) no-repeat center top #000; background-size:cover;">
        <div class="mainbox">
            <div class="txt">
                <h2>{{ banner.title }}</h2>
                <p>{{ banner.info }}</p>
            </div>
        </div>
    </div>

    <div class="main">
        <!-- 产品概述 -->
        <div class="dk introduce">
            <div class="title">
                <span>{{ product.title }}</span>
            </div>
            <p>{{ product.info }}</p>
        </div>

        <!-- 产品功能 -->
        <div class="dk product_fun">
            <div class="title">
                <span>产品功能</span>
            </div>
            <div class="mainbox">
                {% for item in function %}
                    <dl>
                        <dt><img src="{{ item.img }}" alt=""></dt>
                        <dd>
                            <h3>{{ item.title }}</h3>
                        </dd>
                        <dd>
                            <p>{{ item.info }}</p>
                        </dd>
                    </dl>
                {% endfor %}
            </div>

        </div>

        <!-- 产品优势 -->
        <div class="dk products_advantage">
            <div class="title">
                <span>产品优势</span>
            </div>
            <div class="mainbox">
                {% for item in advantage %}
                    <div class="con">
                        <img src="{{ item.img }}" alt="">
                        <div class="info">
                            <h2>{{ item.title }}</h2>
                            <h3>{{ item.info }}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- 应用场景 -->
        <div class="dk product_fun">
            <div class="title">
                <span>应用场景</span>
            </div>
            <div class="mainbox">
                {% for item in apply %}
                    <dl>
                        <dd>
                            <h3>{{ item.title }}</h3>
                        </dd>
                        <dd>
                            <p>{{ item.info }}</p>
                        </dd>
                    </dl>
                {% endfor %}
            </div>

        </div>

        <!-- 案例 -->
        <div class="dk products_advantage products_case">
            <div class="title">
                <span>案例</span>
            </div>
            <div class="mainbox">
                {% for item in case %}
                    <div class="con">
                        <img src="{{ item.img }}" alt="">
                        <div class="info">
                            <h2>{{ item.title }}</h2>
                            <h3>{{ item.info }}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- 相关产品 -->
        <div class="dk relate_product">
            <div class="title">
                <span>相关产品</span>
            </div>
            <div class="mainbox">
                {% for item in relation %}
                    <dl>
                        <dt>
                            <img src="{{ item.img }}" alt="">
                        </dt>
                        <dd>
                            <p>{{ item.title }}</p>
                        </dd>
                    </dl>
                {% endfor %}
            </div>
        </div>
    </div>


    </div>
{% endblock %}

