/*.slideWrap {
    display:none!important;
}*/
.coop_pack{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	background-color:rgba(0,0,0,0.7);
	z-index: 9999;
	top:0;
	left:0;
	right:0;
	bottom:0;
    display:none;
}
.group{
	width: 500px;
	height: 500px;
	position: relative;
	margin: 0 auto;
}
.coop_pack_san {
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 0;
    background: #fff;
    max-width: 640px;
    width:95%;
    height: 820px!important;
    right: 0;
    bottom: 0;
}
.inputBox_pack {
    width:88%;
    max-width:380px;
    margin:0 auto;
    height:auto;
}

.coop_pack_sanTitle{
	font-family: "微软雅黑" ;
	font-size: 29px;
	color: #333;
	text-align: center;
	margin-top: 30px;
}
.coop_pack_sanImg{
    display:block;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 30px;
}
.group_list{
	width: 100%;
    height:auto;
    overflow:hidden;
	margin: 0 auto;
	position: relative;
}
.group_list .name_span{
    display:block;
    height:25px;
    line-height:20px;
    box-sizing:border-box;
	font-family: "微软雅黑" ;
	font-size: 16px;
	color: #333;
    width:100%;
}
.inputWrap_pack {
    width:100%;
    height:auto;
    overflow:hidden;
}
.group_list .name_span_yx{
	margin-left: 0px;
}
.inputWrap_pack .name_ipt{
    display:block;
	width: 100%;
	height: 35px;
	background: none;
	border: solid 1px #cdcdcd;
	font-size: 14px;
	color: #666;
	text-indent: 10px;
}
.group_list .textarea{
	height: 100px;
	resize: none;
}
 .submit{
	width: 100px;
	height: 30px;
	font-family: "微软雅黑";
	font-size: 14px;
	display: block;
	margin: 0 auto;
	border: solid 1px #ff0505;
	color: #ff0505;
	text-align: center;
	line-height: 30px;
	margin-top: 30px;
	cursor: pointer;
}
.group_list .s1{
    display:block;
    box-sizing:border-box;
    padding-left:10px;
    width:100%;
    height:20px;
    line-height:20px;
    font-size: 14px;
    color: #ff0505;
}
.case_btn{pointer-events: none;
		 background: #8C8C8C;
		 border: none; color: #fff;
		 }
.coop_ts_clonebtn{
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}		 


@media(max-width:767px) {
.coop_pack_san {
    margin: auto;
    position: absolute;
    top: 30%;
    left: 0;
    background: #fff;
    height: 710px;
    right: 0;
    bottom: 0;
}	
	
.group{
	width: 90%;
	height: 500px;
	position: relative;
	margin: 0 auto;
}


/*.group_list .name_ipt {
    width: 100%;
    float: initial;
    height: 35px;
    background: none;
    border: solid 1px #cdcdcd;
    font-size: 14px;
    color: #666;
    text-indent: 10px;
    margin-top: 10px;
}*/
.coop_pack_san{
	height: 820px;
}
.group_list{
	margin-top: 0;
    overflow:hidden;
}
.coop_pack_sanImg{
	margin-bottom: 20px;
}
/*.group_list .textarea{
	height: 70px;
}*/
.group_list .name_span_yx{
	margin-left: 0;
}

}